<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Registro</servlet-name>
		<servlet-class>tiendaonline.servlets.sesiones.ServletRegistro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/Registro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>tiendaonline.ServletIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductoNuevo</servlet-name>
		<servlet-class>tiendaonline.servlets.administrar.ServletProductoNuevo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductoNuevo</servlet-name>
		<url-pattern>/ProductoNuevo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadFichero</servlet-name>
		<servlet-class>tiendaonline.UploadFichero</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFichero</servlet-name>
		<url-pattern>/UploadFichero</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>tiendaonline.servlets.sesiones.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CategoriaNueva</servlet-name>
		<servlet-class>tiendaonline.servlets.administrar.ServletCategoriaNueva</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoriaNueva</servlet-name>
		<url-pattern>/CategoriaNueva</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Administrar</servlet-name>
		<servlet-class>tiendaonline.servlets.administrar.ServletAdministrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Administrar</servlet-name>
		<url-pattern>/Administrar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registrarse</servlet-name>
		<servlet-class>tiendaonline.servlets.sesiones.ServletRegistrarse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrarse</servlet-name>
		<url-pattern>/Registrarse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CerrarSesion</servlet-name>
		<servlet-class>tiendaonline.servlets.sesiones.ServletCerrarSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CerrarSesion</servlet-name>
		<url-pattern>/CerrarSesion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCarrito</servlet-name>
		<servlet-class>tiendaonline.servlets.carrito.ServletAddCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCarrito</servlet-name>
		<url-pattern>/AddCarrito</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Carrito</servlet-name>
		<servlet-class>tiendaonline.servlets.carrito.ServletCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Carrito</servlet-name>
		<url-pattern>/Carrito</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>ActualizarCarrito</servlet-name>
		<servlet-class>tiendaonline.servlets.carrito.ServletActualizarCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActualizarCarrito</servlet-name>
		<url-pattern>/ActualizarCarrito</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BorrarProductoCarrito</servlet-name>
		<servlet-class>tiendaonline.servlets.carrito.ServletBorrarProductoCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrarProductoCarrito</servlet-name>
		<url-pattern>/BorrarProductoCarrito</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FabricanteNuevo</servlet-name>
		<servlet-class>tiendaonline.servlets.administrar.ServletFabricanteNuevo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FabricanteNuevo</servlet-name>
		<url-pattern>/FabricanteNuevo</url-pattern>
	</servlet-mapping>	
	
	<listener> 
	<listener-class>tiendaonline.listeners.ContextoListener</listener-class>
	</listener>
	
	<listener> 
	<listener-class>tiendaonline.listeners.SessionListener</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>Index</welcome-file>
	</welcome-file-list>
</web-app>